@import url(https://fonts.googleapis.com/css?family=Lato:700,400);

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.ttf');
    src: url('../fonts/BebasNeue-webfont.otf') format('otf'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

// @mixin gradient($direction, $color1, $color2) {
//     background: -webkit-linear-gradient($direction, #{$color1}, #{$color2});
//     background: -ms-linear-gradient($direction, #{$color1}, #{$color2});
//     background: -moz-linear-gradient($direction, #{$color1}, #{$color2});
//     background: -o-linear-gradient($direction, #{$color1}, #{$color2});
//     background: linear-gradient($direction, #{$color1}, #{$color2});
// }
@mixin gradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
$speed: "0.5s";
@mixin transition($speed){
    -webkit-transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), background #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), height #{$speed} ease;
    -ms-transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), background #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), height #{$speed} ease;
    -moz-transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), background #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), height #{$speed} ease;
    -o-transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), background #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), height #{$speed} ease;
    transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), background #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400), height #{$speed} ease;
}

$black: #121212;
$less-black: #343434;
$light-black: #cecece;
$light-gray: #BABABA;
$lighter-gray: #DEDEDE;
$off-white: #DDDDD1;
$dark-white: #efefef;

$green: #009c47;
//#3A9845;
$red: #C93636;
//#c0392b;
$crimson: #fe3434;
$red-dark: #a53125;
$orange: #D57A66;
$pastel-blue: #4374AD;
$dark-blue:  #184981;
$navbar: rgba(218, 233, 234, 0.96);
$text: #454545;
$light-text:rgba(69, 69, 69, 0.56);
$white-text: #efefef;
$search-bar-gray: #E1E1E1;

//navbar colors
$navbar1: #000;
$navbar2: #000;

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s ease-out infinite;
  -moz-animation: rotating 2s ease-out infinite;
  -ms-animation: rotating 2s ease-out infinite;
  -o-animation: rotating 2s ease-out infinite;
  animation: rotating 2s ease-out infinite;
}
/* min-width ~ screen-size >= number
/* max-width ~ screen-size <= number */


/* Large Devices, Wide Screens */

$large-screen: 1200px;

/* Medium Devices, Desktops */

$medium-screen: 992px;

/* Small Devices, Tablets */

$tablet-screen: 768px;

/* Extra Small Devices, Phones */

$phone-screen: 480px;

/* Custom, iPhone Retina */

$retina-screen: 320px;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    &:focus {
        outline: none;
    }
}

html {
    box-sizing: border-box;
    // height: 100vh;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-top: 30px;
    background-color: $light-black;
    // height: 100vh;
    @media (max-width: $medium-screen) {
        padding-top: 50px;
    }
    @media (max-width: $tablet-screen) {
        padding-top: 0px;
    }
    color:$text;
    overflow-x: hidden;
}

a {
  color: $dark-blue;
}

hr {
  border-top: 1px solid $light-gray;
}

.btn-block {
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  @include vendor-prefix('border-radius', '2px');
  @include vendor-prefix('box-shadow', '1px 1px 4px rgba(0, 0, 0, 0.35)');
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $crimson;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.margin-top {
  margin-top: 20px;
}

.main {
    // min-height: 600px;
    min-height: 82vh;
    padding-top: 10px;
    &.new {
        margin-top: 0px;
    }
}

.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

header {
    &.jumbotron {
        padding: 80px 20px;
        min-height: 100%;
        background-color: #211C3C;
        background-image: url("/static/img/header.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        word-wrap: break-word;
        @include vendor-prefix('box-shadow', 'inset -1px -1px 9px rgba(0, 0, 0, 0.8)');

        h1, .h1 {
          font-size: 63px;
          color: #D7CEB2;
          @include vendor-prefix('text-shadow', '1px 1px 0px #2C2E38, 2px 2px 0px #5C5F72');
          font-weight:700;
        }
        h4 {
            color: rgb(236, 140, 105);
            text-shadow: 2px 2px 3px rgba(255,255,255,0.35);
        }
    }
}

.vpanel {
  color: white;
  text-align: center;
  .inner {
    padding:20px;
  }
  .fa-star {
    color:rgb(234, 173, 14);
  }
  &.panel1 {
    background: #1C223D;
    height:100%;

    &:hover {
      background: #eee;
      color: #232323;
      transition-duration:0.1s;
    }
  }
  &.panel2 {
    background: #395379;
    height:100%;

    &:hover {
      background: #eee;
      color: #232323;
      transition-duration:0.1s;
    }
  }
  &.panel3 {
    background: #5272A0;
    height:100%;

    &:hover {
      background: #eee;
      color: #232323;
      transition-duration:0.1s;
    }
  }
}

div#infscr-loading {
  width: 220px;
  max-height:19px;
  margin: 20px auto;
  clear: both;
  img {
    width: 192px;
    max-height:9px;
    border-radius: 5px;
  }
}

.well-lg {
  border-radius: 2px;
}

.products-bg {
  background-color: $light-black;
}

.alert {
    margin-top: 10px;
      &.alert-success {
          background-color: $green;
          border-color: lighten($green, 20%);
          color: $white-text;
          button {
            color:$text;
          }
      }
      &.alert-warning {
          background-color: $orange;
          border-color: lighten($orange, 20%);
          color: $white-text;
          button {
            color:$text;
          }
      }
      &.alert-danger {
          background-color: $red;
          border-color: lighten($red, 20%);
          color: $white-text;
          button {
            color:$text;
          }
    }
}
.progress-bar-success {
    background-color: $green;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

}
.progress-bar-danger {
    background: $red;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.navbar {
  height:30px;
  min-height: 30px;
}

.navbar-inverse {
    background: #21242d; /* Old browsers */
    @include gradient($navbar1, rgba($navbar2, 95%));
    border: 0px solid transparent;
    z-index: 1409;
    text-align: center;
    box-shadow: 0px 0px 1px;
    .logo {
        max-height: 30px;
        padding: 7px;
    }
    .fa {
      color: #585A74;
    }
    .navbar-header {
        min-width: 180px;
    }
    .navbar-brand {
      color: #BBCBD8!important;
      text-shadow: 2px 2px 3px #000;
      padding: 5px 15px;
      height: 30px;
      font-size: 1em;
        &:hover {
        color:#efefef!important;
        }
    }
    .navbar-nav>li>a {
      color: #BBCBD8!important;
      text-shadow: 2px 2px 3px #000;
      padding-top:5px;
      padding-bottom: 5px;
      font-size:0.9em;
      &:hover {
        color:#efefef!important;
        .fa {
          color: white;
        }
      }
    }
}

.navbar-nav>li>.dropdown-menu {
  background: #242532;
}
.dropdown-menu>li>a {
  color: #B6CBCD;
}

.profile-page {
  .tab-pane {
    background: transparent;
    padding: 0px;
  }
}
.profile {
  h1 {
    font-size:3.5em;
    margin-top:30px;
  }
}
.review-cards {
  .review-card {
    word-wrap: break-word;
    background: transparent;
    padding: 0px 20px;
    box-sizing: border-box;
    margin: 10px auto;
    height: 200px;
    overflow: hidden;
    // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;

    &:hover {
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    }

    a {
      @include vendor-prefix('text-shadow', '1px 1px 0px rgba(255, 255, 255, 0.36)');
      &:hover {
        color: #2A2A2A;
      }
    }

    .review-text {
      margin-top: 20px;
      overflow: hidden;
      &:before {
        content: "“";
        float: left;
        font-size: 3em;
        height: 30px;
        margin: 0px;
        padding: 0px;
      }
    }
    .review-meta {
      position:absolute;
      top:0px;
      width: 100%;
      left: 0px;
    }
    .meta-inner {
      position: relative;
      word-wrap: break-word;
      padding:10px 20px;
    }
  }
}
.badge {
    &.points {
        background-color: $pastel-blue;
        @include vendor-prefix('text-shadow', '0px 0px 0px transparent');
    }
    &.bd-products {
        background-color: $green;
    }
    &.bd-votes {
        background-color: $red;
    }
    &.bd-reviews {
        background-color: $orange;
    }
}

.statusbar-container {
  ul.statusbar {
    list-style: none;
    text-align:center;
    @include gradient(#2c303d, rgba(#12121e, 95%));
    color:white;
    max-width: 600px;
    margin: 0px auto;
    border-radius: 25px;
    &>.labl {
      padding:0px 10px;
      color: #969696;
      margin-left: -30px;
    }
    li {
      display: inline-block;
      padding: 10px;
      border-right: 1px solid rgba(#FFF, 0.1);
      border-left: 1px solid rgba(#FFF, 0.1);
      margin:0px;

      a {
        color:white;
      }
      .labl {
        padding: 0px 5px;
      }
      .value {
      }
    }
  }
}

.form-control {
    &.search-input {
        background: $search-bar-gray;
        border: 0px;
        border-bottom: 4px solid $orange;
        border-radius: 0px;
        box-shadow: none;
        font-size: 20px;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
        &:focus {
          border-color: $orange;
          outline: 0;
          border: 0px;
          border-bottom: 4px solid $orange;
        }
    }
    &.input-xl {
        height: 60px;
    }
    &:focus {
      border-color: $orange;
      outline: 0;
      @include vendor-prefix('box-shadow', 'none');
      border-width: 2px;
    }
}
#search_form a.btn.btn-default.btn-xl.input-group-addon {
  background: $search-bar-gray;
  border: 0px;
  border-left: 1px solid rgba($pastel-blue, 0.22);
  border-bottom: 4px solid $pastel-blue;
  border-radius: 0px;
  &:hover {
    background-color: lighten()
  }
}
#searchform {
  position:fixed;
  width: 100%;
  z-index: 1001;
  margin-bottom: 0;
  margin: 0px;
  padding: 0px;
  top: 30px;
  left: 0px;
  right: 0px;
  height: 0px;
}
form#search_form {
  border: 15px solid rgba($navbar2, 0.9);
  box-shadow: 0px 1px 3px rgba(#000, 0.8);
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    &.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }
    &.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        font-size: 24px;
        line-height: 1.33;
        border-radius: 35px;
    }
}

.failform {
    width:100%;
}
.passform {
    width:100%;
}
button.vote {
  width: 100%;
  min-width: 100px;
  max-width: 270px;
  height: 70px;
  font-size: 1.5em;
  font-weight: 700;

  &.pass {
    border: 0px solid rgba(black, 0.1);
    @include vendor-prefix(border-radius, 50px 0px 0px 50px);
    background-color: rgba(#000, 70%);
    color: rgba(white, 90%);
    &:hover {
        @include transition($speed);
        background-color: rgba(#000, 90%);
        color:white;
        font-weight: bold;
    }
    &.selected {
        background: #555;
        color:white;
        box-shadow: inset 1px 0px 9px darken($green, 70%);
        font-weight: bold;
    }
  }
  &.fail {
    border: 0px solid rgba(black, 0.1);
    @include vendor-prefix(border-radius, 0px 50px 50px 0px);
    background-color: rgba(#fff, 70%);
    color: rgba(black, 90%);
    &:hover {
        @include transition($speed);
        background-color: rgba(#fff, 90%);
        color:black;
        font-weight: bold;
    }
    &.selected {
        background: #555;
        color:white;
        box-shadow: inset -1px 0px 9px darken($red, 70%);
        font-weight: bold;
    }
  }
  &.process {
        background: #555!important;
        color: #FFF!important;
        box-shadow: inset 1px 0 9px #000;
        font-weight: bold;
        &:hover {
            background: #555!important;
            color: #FFF!important;
            box-shadow: inset 1px 0 9px #000;
            font-weight: bold;
        }
    }
}
.btn-file {
    position: relative;
    overflow: hidden;
    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.pass {
    color: $green;
}

.fail {
    color: $red;
}

.product_photo {
    background: #212121;
    position: relative;
    img {
        margin: 0px auto;
        max-height: 600px;
    }
}

.owner_menu {
    position: absolute;
    right: 3px;
    top: 5px;
    &.delrev {
        right: 10px;
        top: inherit;
        bottom: 5px;
    }
    .pdelbutton, .rdelbutton {
        border: 0px;
        background-color: rgba(0, 0, 0, 0);
    }
    .dropdown-menu li {
        padding: 0px 5px;
        text-align: center;
    }
}
.dropdown-menu {
    min-width: 100px;
}

.product {
    background: $dark-white;
    padding: 10px 30px;
    padding-bottom: 80px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    position: relative;
    .product_photo {
        background: #212121;
        margin-bottom: 5px;
        img {
            margin: 0px auto;
            max-height: 600px;
        }
    }
    .progress {
        @include vendor-prefix('border-radius', '25px');
        margin-top:10px;
        margin-bottom:10px;
        height:15px;
        box-sizing: content-box;
        //border: 5px solid rgba(0, 0, 0, 0.14);
        span {

            color: rgba(black, 0.4);
            line-height: 0px;
        }
    }
    .address {
      padding: 10px;
      background: #E2E2E2;
      margin-top: 5px;
    }
    .phone {
      padding: 10px;
      background: #E2E2E2;
      margin-top: 5px;
    }
    .single.product-meta {
      text-align: center;
      margin-top: 10px;
    }
}

.progress-bar {
  line-height: 15px;
}
section {
  &.home.products {
    margin-top: 30px;
  }
  .how {
    text-align: center;
  }
}

.products {
    .product-container {
      max-height: 360px;
      overflow: hidden;
    }
    .product {
        padding: 10px 15px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        word-wrap: break-word;
        margin-bottom: 15px;
        &:hover {
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        }
        .content {
          padding-left:20px;
        }
        .address {
          padding: 0px 8px 0px 8px;
          color: darken($light-text, 10%);
          margin-top: 0px;
          font-family: 'Lato', sans-serif;
          font-size: 0.9em;
          font-weight: 400;
          line-height: 1.7em;
          background: transparent;
          overflow: hidden;
        }
        .phone {
          padding: 0px 8px 0px 8px;
          background:transparent;
          margin-top: 2px;
        }
        .pubtime {
            color:$light-text;
        }
        .product-meta {
            position: absolute;
            color: #7B7B7B;
            top: 4px;
            right: 12px;

            .views {
                position: absolute;
                right: 0px;
                bottom: -10px;
            }
            .comments {
                position: absolute;
                left: 0px;
                bottom: -10px;
                z-index: 999;
            }
            .percentage {
                width:50px;
                height:50px;
                margin:0px auto;
                border-radius:50%;
                border:3px solid lighten(black, 90%);
                background: transparent;
                margin-top:30px;
                text-align: center;
                line-height: 45px;
                color:#333;
                font-size:12px;
                font-weight: bold;
                cursor: default;
                &.percentage-pass {
                    border:3px solid lighten($green, 10%);
                    background: lighten($green, 10%);
                }
                &.percentage-fail {
                    border:3px solid lighten($red, 10%);
                    background: lighten($red, 10%);
                }
            }
        }
        .prod_box {
          position: relative;
          margin-top: 0px;
        }
    }
    .progress {
        height:10px;
        margin-top:2px;
        margin-bottom:5px;
        @include vendor-prefix('border-radius', '10px');
        background: #A6A6A6;
    }
    img {
        width: 100%;
        height: 100px;
    }
    .product-title {
        margin: 0px;
        margin-top: 0px;
        h2 {
            font-size: 20px;
            font-weight: bold;
            margin: 0px;
            margin-top: 10px;
        }
    }
    .category {
        position: relative;
        clear: both;
        z-index: 90;
        margin-top: -20px;
        background: rgba(255, 255, 255, 0.79);
        padding: 2px 7px;
    }
}

.type-button {
    &:hover {
    }
}

.nav-tabs {
    border-bottom: 1px solid rgba(221, 221, 221, 0);
    margin-bottom: 10px;
}
.nav-tabs>li {
    width: 50%;
}

.nav-tabs>li.image-tab a, .nav-tabs>li.active.image-tab a {
  background-color: #8FBE73;
}.nav-tabs>li.video-tab a, .nav-tabs>li.active.video-tab a {
  background-color: #A6C7D8;
}.nav-tabs>li.audio-tab a, .nav-tabs>li.active.audio-tab a {
  background-color: #FFC06D;
}
.related-products {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    .row {
        // display: table;
    }
    .product_photo {
        @include vendor-prefix('border-radius', '3px');
        .img-responsive {
            @include vendor-prefix('border-radius', '3px');
        }
    }
    .phcol {
        padding-left:5px;

    }
    .tlcol {
        padding:0px 10px;
        position: relative;

        h4 {
            margin-top:2px;
            margin-bottom: 0px;
            font-size: 14px;
            line-height: 16px;
            min-height: 60px;
        }
        .product-meta {
            position: absolute;
            bottom:0px;
            color:#ccc;
        }
    }
}

.wordcount {
    span {
        color: $red;
    }
}
.reviews {
    margin-top: 30px;
    h2, h3, h4 {
        color: rgba(0, 0, 0, 0.56);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    }
}

.reviewform {
    padding: 10px 15px;
}
#review_text {
    background: rgba(228, 228, 228, 0.9);
    border: 0px;
    border-bottom: 3px solid $pastel-blue;
    padding: 10px 15px;
    @include vendor-prefix('border-radius','0px');
    resize: vertical;
    font-size: 1.2em;
    &:focus {
        border-color: $orange;
    }
}

.writerev button {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  left: 0px;
  border-radius: 0px;
}

.review {
    width: 100%;
    background-color: $dark-white;
    padding: 20px;
    margin: 10px 0px;
    position: relative;
    @include vendor-prefix(border-radius, 1px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    line-height: 1.7em;
    &:first-of-type {
        
        &:before {
            content: "";
            font-family: FontAwesome;
            background: lighten($red, 10%);
            color: #fff;
            width: 100px;
            height: 15px;
            @include vendor-prefix('border-radius','0px 1px 0px 0px');
            font-size: 10px;
            padding: 10px;
            position: absolute;
            right: 0px;
            top: 0px;
            line-height: 0px;
            text-align: center;
            font-weight: bold;
        }
    }
    .author {
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: 0px;
        background: #E0E0E0;
        color: #575757;
        padding: 5px 10px;
        @include vendor-prefix('border-radius','1px 0px 0px 0px');
    }
    .pub_date {
        color: darken( $off-white, 60%);
    }
    &:target {
        border: 2px solid;
        border-color: rgba($red, 0.4);
        @include vendor-prefix(transition-duration, 1s ease-in);
    }
    .review_meta {
        position: absolute;
        bottom: 5px;
        right: 30px;
    }
}

.target {
        border: 2px solid;
        border-color: rgba($red, 0.4);
        @include vendor-prefix(transition-duration, 1s ease-in);
    }

.confirm-div {
    text-align: center;
    padding: 20px;
    @include vendor-prefix(transition, height 2s);
    @include vendor-prefix(transition-duration, 3s ease-in);
}

.verdict {
    text-align: center;
}

.npnav {
    &.affix {
        width: 100%;
        bottom: 0px;
        left: 0px;
        margin-bottom: 0px;
    }
    min-height: 20px;
    z-index: 1000;
    .navbar-nav {
        width: 100%;
        text-align: center;
        li>a {
          padding-top: 5px;
          padding-bottom: 5px;
        }
    }
    .next {
        width: 50%;
        @media screen and (max-width: $tablet-screen) {
            float:right;
        }
    }
    .previous {
        width:50%;
        @media screen and (max-width: $tablet-screen) {
            float:left;
        }
    }
    li.disabled a {
        color:#444!important;
            .fa {
                color: #333!important;
            }
        &:hover {
            color: #444!important;
            .fa {
                color: #333!important;
            }
        }
    }
}

.passorfailbox {
    font-size: 10px;
    .pills {
        color: $light-black;
        padding: 5px;
        margin: 5px;
        @include vendor-prefix(border-radius, 3px);
    }
    .ps {
        background-color: rgba($green, 0.6);
    }
    .fl {
        background-color: rgba($red, 0.6);
    }
}

.ui-autocomplete {
    background: #ECECEC;
    // max-width: 500px !important;
    list-style: none;
    font-size: 17px;
    // text-shadow: 0px 0px 1px black;
    padding: 10px 0px;
    z-index: 1034;
    border: 1px solid #D8D8D8;
    .ui-menu-item {
        padding: 5px 20px;
        margin: 0px;
        width: 100%;
        color: $text;
        &:hover {
            background-color: rgba(231, 231, 231, 1);
            width: 100%;
            cursor: pointer;
        }
    }
}
span.ui-helper-hidden-accessible {
  display: none;
}

.related {
    img {
        max-height: 200px;
    }
}

section {
    &.header {
        padding: 20px 0px;
        padding-bottom: 0px;
    }
}

aside {
    margin-top: 100px;
}

.row-centered {
    text-align: center;
}

footer {
    background-color: $less-black;
    height: 200px;
    margin-top: 60px;
    padding: 20px;
    color:white;
}

.footer-nav li {
    float: left;
    padding: 20px 0px 20px 20px;
    list-style: none;
    color: rgba(0, 0, 0, 0.56);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);

    a {
        color: rgba(0, 0, 0, 0.56);
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    }
}


/**********************************************************************************************/

.card-container.card {
    max-width: 350px;
    padding: 10px 40px;
    padding-bottom: 40px;
    word-wrap: break-word;
    &.cfull {
        max-width: 100%;
        margin:0px auto;
        img {
            max-width: 200px;
            margin: 0px auto;
        }
    }
    &.cmedium {
        max-width:600px;
        
    }
}


/*
 * Card component
 */

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/*
 * Form styles
 */

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: rgb(12, 97, 33);
}


/***********************************************************************************************************/
$color: #c0392b;
$color-dark: #a53125;



.button {
    display: block;
    background-color: $color;
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    @include transition($speed);
    
    span,
    .icon {
        display: block;
        height: 100%;
        text-align: center;
        position: absolute;
        top: 0;
    }
    
    span {
        width: 72%;
        font-size: 22px;
        text-transform: uppercase;
        left: 0;
        @include transition($speed);
        
        &:after {
            content: '';
            background-color: $color-dark;
            width: 2px;
            height: 70%;
            position: absolute;
            top: 15%;
            right: -1px;
        }
    }
    
    .icon {
        width: 28%;
        right: 0;
        @include transition($speed);
        
        .fa {
            font-size: 30px;
            vertical-align: middle;
            @include transition($speed);
        }
        
        .fa-remove {
            height: 36px;
        }
        
        .fa-check {
            display: none;
        }
    }
    
    &.success,
    &:hover {
        
        span {
            left: -72%;
            opacity: 0;
        }
        
        .icon {
            width: 100%;
            
            .fa {
                font-size: 45px;
            }
        }
    }
    
    &.success {
        background-color: #27ae60;
        
        .icon {
            
            .fa-remove {
                display: none;
            }
            
            .fa-check {
                display: inline-block;
            }
        }
    }
    
    &:hover {
        opacity: .9;
        
        .icon .fa-remove {
            height: 46px;
        }
    }
    
    &:active {
        opacity: 1;
    }
}



//MEDIA QURIES
//----------------------------------------------------
//----------------------------------------------------
@media (min-width: $medium-screen) {
  .npnav.affix {
    bottom: 0px;
    width: 100%;
    max-width:400px;
    right:0px;
    left:inherit;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-screen) {
  .mob-nav {
    display: none;
  }
}