{% extends "base.html" %}

{% block title %}{{category}} - Pass or Fail{% endblock %}

{% block content %}
    {% if category %}
        <div class="text-center" style="padding:10px;padding-bottom: 0px;">
            <h2>Category: '{{category|title}}'</h2>
        </div>
    {% endif %}
    <section class="products main" itemtype="http://schema.org/ItemList">
        <div class="container">
            {% if not search %}
            <style type="text/css" media="screen">
                .pill{{view}} {background: #242632;color: #FFF;}
            </style>
                <div class="row" style="padding:15px;margin-bottom:15px;">
                    <a href="{{ url_for('category', category=category, view='latest') }}" class="btn btn-default btn-sm pilllatest">Latest</a>
                    <a href="{{ url_for('category', category=category, view='trending') }}" class="btn btn-default btn-sm pilltrending">Trending</a>
                    <a href="{{ url_for('category', category=category, view='most-viewed') }}" class="btn btn-default btn-sm pillmost-viewed">Most viewed</a>
                    <a href="{{ url_for('category', category=category, view='most-reviewed') }}" class="btn btn-default btn-sm pillmost-reviewed">Most Reviewed</a>
                    <a href="{{ url_for('category', category=category, view='passing') }}" class="btn btn-default btn-sm pillpassing">Passing</a>
                    <a href="{{ url_for('category', category=category, view='failing') }}" class="btn btn-default btn-sm pillfailing">Failing</a>
                    <a href="{{ url_for('category', category=category, view='tied') }}" class="btn btn-default btn-sm pilltied">Tied</a>
                </div>
            {% endif %}
            <div class="row" id="infcontent">
                {% for product in products.items %}
                    {% include 'product_boxes.html' %}
                {% endfor %}
            </div>
        </div>
    </section><br>
    <div id="pagination" class="container">
    {% if products.has_prev %}<a id="previous" class="pull-left hidden" href="{{ url_for('category', category=category, view=view,page=products.prev_num) }}">&lt;&lt; Newer posts</a>{% endif %}
    {% if products.has_next %}<a id="next" class="pull-right hidden" href="{{ url_for('category', category=category, view=view, page=products.next_num) }}">Older posts &gt;&gt;</a>{% endif %}
    </div>
{% endblock %}

{% block footerscripts %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8">
        // the items you will be loading more of
        $('div#infcontent').infinitescroll({

            navSelector  : "div#pagination",            
                           // selector for the paged navigation (it will be hidden)
            nextSelector : "a#next",    
                           // selector for the NEXT link (to page 2)
            itemSelector : "div.item",        
                           // selector for all items you'll retrieve
            donetext     : ""

        });
    </script>
{% endblock %}