{% extends "base.html" %}

{% block title %}South Asian Link{% endblock %}
{% block meta_photo %}{{site_url()}}{{ url_for('static', filename='img/pf-cover.jpg') }}{% endblock %}
{% block meta_description %}South Asian Business Listing.{% endblock %}
{% block meta_url %}{{site_url()}}{{ request.path }}{% endblock %}

{% block header %}
    <header class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2 clearfix">
                <h1>South Asian Link</h1>
                <h3 style="color:#F7FF99;">Directory for South Asian Businesses and Products in Canada</h3><br>
                </div><br>
            </div>
            {% if not current_user.is_authenticated() %}
            <div class="row no-gutter">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="{{ url_for('signup') }}">
                        <button class="pull-right vote pass">Sign Up</button>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <a href="{{ url_for('login') }}">
                        <button class="pull-left vote fail">Log In</button>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="row no-gutter text-center">
                <a href="{{ url_for('addproduct') }}">
                    <button class="btn btn-warning btn-lg">Add a Lisiting</button>
                </a>
            </div>
            {% endif %}
        </div>
    </header>
    <div class="header home-featured">
        <div class="container text-center">
            <div class="row well well-lg">
                <div class="col-md-3">
                    <a href="/about/">
                        <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/0.png') }}" alt="">
                        <h4>About Us</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/listing/add">
                        <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/1.png') }}" alt="">
                        <h4>Open form to list your business</h4>
                    </a>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/2.png') }}" alt="">
                    <h4>Search</h4>
                </div>
                <div class="col-md-3">
                    <img class="img-responsive img-circle" src="{{ url_for('static', filename='img/3.png') }}" alt="">
                    <h4>Generate more sales</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="home products" itemtype="http://schema.org/ItemList">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-center">Latest Listings</h2><hr>
                    {% for product in products.items %}
                        {% include 'product_boxes.html' %}
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    {% include 'sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
    <br>
{% endblock %}

{% block futurefooter %}
<footer class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Download our app and use it all day!</h2><br>
            <a href="#" class="btn btn-default btn-lg">Download Now!</a>
        </div>
    </div>
</footer>
{% endblock %}