<div class="col-lg-4 col-sm-6 item" itemprop="itemListElement" itemtype="http://schema.org/Product">
    <div class="product">
        <div class="product-container">
            <div class="product-title">
                <h2><a href="{{ url_for('product', id=product.id) }}">{{ product.title}}</a></h2>
            </div>
            <div class="prod_box">
                <a href="{{ url_for('product', id=product.id) }}" class="product-image">
                    <img src="{{ product.image|thumbnail('330x200', crop='fit', quality=100) }}" class="img-responsive" alt="" itemprop="image">
                </a>
                <span class="pull-right small category">
                {% if product.video is not none %}<i class="fa fa-youtube-play fa-4 type-button" data-toggle='tooltip' data-placement="top" title="Video"></i>{% endif %}
                {% if product.video is none %}<i class="fa fa-picture-o fa-4 type-button" data-toggle='tooltip' data-placement="top" title="Image"></i>{% endif %} Category: <a href="{{ url_for('category', category=product.category) }}">{{ product.category|truncate(20, True) }}</a>
                </span>
            </div>
            <div class="phone">
                Phone: {% if product.phone %}{{ product.phone|truncate(10, True) }}{% endif %}
            </div>
            <div class="address">
                Address: {% if product.address %}{{ product.address|truncate(90, True) }}{% endif %}
            </div>
        </div><!--product-container-->
        <div class="small product-meta hidden-xs clearfix">
            <i class="fa fa-eye"></i> {% if product.views %}{{ product.views }}{% else %}0{% endif %} views | 
            <i class="fa fa-comments"></i> {% if product.review_count %}{{ product.review_count }}{% else %}0{%endif%} reviews | 
            <i class="fa fa-clock-o"></i> {{ago_format(product.pub_date)}}
        </div>
    </div><br>
</div>