{% extends "base.html" %}

{% block title %}{{ user.nickname }} Profile - South Asian Link{% endblock %}

{% block content %}
<div class="container main">
    <div class="profile-page">
        <div class="profile text-center">
            <h1>{{user.nickname}}</h1>
            {% if user == current_user %}
            	<small>Edit Profile</small>
            {% endif %}
            <p>Became member {{ago_format(user.join_date)}}</p>
        </div><!-- /card-container -->
        <br>
            <section class="products main" itemtype="http://schema.org/ItemList">
                <div id="infcontent" class="row products-bg"><br>
                    <div class="col-md-8">
                        {% for product in products.items %}
                                    {% include 'product_boxes.html' %}
                        {% else %}
                            <h2>You have not added anything</h2>
                        {% endfor %}
                    </div>
                    <div class="col-md-4">
                        {% include 'sidebar.html' %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div id="pagination" class="container">
    {% if products.has_prev %}<a id="previous" class="pull-left hidden" href="{{ url_for('profile', user=user.nickname, view='p',page=products.prev_num) }}">&lt;&lt; Newer posts</a>{% endif %}
    {% if products.has_next %}<a id="next" class="pull-right hidden" href="{{ url_for('profile', user=user.nickname, view='p', page=products.next_num) }}">Older posts &gt;&gt;</a>{% endif %}
</div>
{% endblock %}