<section id="searchform" class="header hidden">
    <div class="col-lg-8 col-lg-offset-2 text-center">
	<form id="search_form" action="/s/" method="get" accept-charset="utf-8">
	    <div class="input-group">
	        <div class="form-group">
	           <input name="s" id="search" type="text" placeholder="What are you looking for?" class="form-control input-xl search-input">
	        </div>
	        <a class="btn btn-default btn-xl input-group-addon" onclick="document.getElementById('search_form').submit();"> <i class="fa fa-search"></i> </a>
	    </div>
	</form>
	</div>
</section>