<div class="well well-lg featured-products">
	<h3>Featured Listings</h3>
	{% for post in featured() %}
	<div class="row row-eq-height no-gutter">
		<div class="col-xs-5 phcol">
			<div class="product_photo">
				<a href="{{ url_for('product', id=post.id) }}">
					{% if post.image is not none %}
					<!-- {% if post.video is not none %}<i class="fa fa-play-circle fa-4 play-button"></i>{% endif %} -->
					<img class="img-responsive" src="{{ post.image|thumbnail('330x200', crop='fit', quality=100) }}" alt="">
					{% endif %}
					{% if post.image is none %}
                    	<img src="{{ url_for('static', filename='img/placeholder.jpg') }}" class="img-responsive" alt="" itemprop="image">
                    {% endif %}
				</a>
			</div>
		</div>
		<div class="col-xs-7 tlcol">
			<a href="{{ url_for('product', id=post.id) }}">
				<h4>{{ post.title }}</h4>
			</a>
			<div class="product-meta">
				<span class="small views">
					{% if post.video is not none %}<i class="fa fa-youtube-play" data-toggle='tooltip' data-placement="right" title="Video"></i>{% endif %}
            		{% if post.video is none %}<i class="fa fa-picture-o" data-toggle='tooltip' data-placement="right" title="Image"></i>{% endif %} | 
					<i class="fa fa-eye"></i> {% if post.views %}{{ post.views }}{% else %}0{% endif %}</span> | <span class="small comments"><i class="fa fa-comments"></i> {% if post.review_count %}{{ post.review_count }}{% else %}0{%endif%}
				</span>
			</div>
		</div>
	</div><br>
	{% endfor %}
</div>