{% extends "base.html" %}

{% block title %}About Us - South Asian Link{% endblock %}

{% block content %}
	<div class="container main">
		<div class="col-md-8">
		<h2>Tariff</h2>
			<ul>
				<li>Tariff, Listing package, On line and Printed Directory $ 150 for whole Year</li>
				<li>Only on line $100 with Video and Pictures</li>
				<li>Only in Directory $50</li>
				<li>Featured Listing Extra $25 for whole year</li>
				<li>Full Page in directory $700</li>
				<li>Half Page in directory $400</li>
				<li>Qt page in directory $250</li>
				<li>Restaurant Category is not showing in Category list</li>
			</ul>
		</div>
	</div>
{% endblock %}